<div class="nav_bar">
  <a href="/">FOODIEANA JONES</a>



  <div class="search_bar">
  <form action="/restaurants/search" method="get">
  <input type="text" name="name" placeholder="Restaurant Search">
    <button type="submit">go</button>
  </form>
  </div> <!-- SEARCH BAR -->

     <div class="links_bar">
    
      <a href="/restaurants/favorites">Favorite Restaurants</a>
      <a href="/restaurants/guide">Ratings Guide</a>


  </div><!-- links bar -->
</div> <!-- NAV BAR -->

  <div class="devise_nav">

  <%if current_user %>
    Signed in as <%= current_user.email %>.  Not you?
    <%= link_to "Sign out", destroy_user_session_path, method: "delete" %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %>
   <% end %>

  </div> <!-- devise nav -->

<div class="main_search_page">

<h1><%= @restaurant_hash["businesses"][0]["name"]%></h1>
<h3>Cuisine type: <%= @restaurant_hash['businesses'][0]["categories"][0]["category_filter"].capitalize%></h3>

<!-- Total Average -->


<% if Restaurant.find_by_name(@restaurant_hash["businesses"][0]["name"]) != nil %>

  <% if @michelin_rating == nil && @nyt_rating == nil %>
  <% @total_rating = @yelp_rating %> 
  <% @total_rating = @total_rating.to_i %>
  <h4>Total Rating: <%= @total_rating %></h4>

  <% elsif @michelin_rating != nil && @nyt_rating == nil %>
  <% @total_rating = (@yelp_rating + (Restaurant.find_by_name(@restaurant_hash["businesses"][0]["name"]).rating*10) + @michelin_rating) / 3 %> 
  <% @total_rating = @total_rating.to_i %>
  <h4>Total Rating: <%= @total_rating %></h4>

  <% elsif @michelin_rating == nil && @nyt_rating != nil %>
  <% @total_rating = (@yelp_rating + (Restaurant.find_by_name(@restaurant_hash["businesses"][0]["name"]).rating*10) + @nyt_rating) / 3 %> 
  <% @total_rating = @total_rating.to_i %>
  <h4>Total Rating: <%= @total_rating %></h4>

  <% elsif @michelin_rating != nil && @nyt_rating != nil %>
  <% @total_rating = (@yelp_rating + (Restaurant.find_by_name(@restaurant_hash["businesses"][0]["name"]).rating*10) + @michelin_rating + @nyt_rating) / 4 %>
  <% @total_rating = @total_rating.to_i %> 
  <h4>Total Rating: <%= @total_rating %></h4>

  <% end %>

<% else %>

<% @total_rating = 1 %>
<% @total_rating = @total_rating.to_i %>

  <% if @michelin_rating == nil && @nyt_rating == nil %>
  <% @total_rating = @yelp_rating %> 
  <% @total_rating = @total_rating.to_i %>
  <h4>Total Rating: <%= @total_rating %></h4>

  <% elsif @michelin_rating != nil && @nyt_rating == nil %>
  <% @total_rating = (@yelp_rating + @michelin_rating) / 2 %> 
  <% @total_rating = @total_rating.to_i %>
  <h4>Total Rating: <%= @total_rating %></h4>

  <% elsif @michelin_rating == nil && @nyt_rating != nil %>
  <% @total_rating = (@yelp_rating + @nyt_rating) / 2 %> 
  <% @total_rating = @total_rating.to_i %>
  <h4>Total Rating: <%= @total_rating %></h4>

  <% elsif @michelin_rating != nil && @nyt_rating != nil %>
  <% @total_rating = (@yelp_rating + @michelin_rating + @nyt_rating) / 3 %> 
  <% @total_rating = @total_rating.to_i %>
  <h4>Total Rating: <%= @total_rating %></h4>
  <% end %>

<% end %>


   <div id="ratings_container">
<ul>
        <!-- YELP -->
    <li>Yelp user average rating: <%= @restaurant_hash["businesses"][0]["avg_rating"] %></li>
    <li><img src="<%= @restaurant_hash["businesses"][0]['rating_img_url']%>"/></li>

   <!-- Michelin Guide NYC 2014 -->
   <% if @michelin[@restaurant_name_pre_gsub] %>

       <li>Michelin Stars: <%=@michelin[@restaurant_name_pre_gsub]%></li>

       <% @michelin[@restaurant_name_pre_gsub].times do %>
       <img width=25px height=25px src="/michelin_star.jpeg">
       <% end %>
   <% else %>

       <li><% %>Michelin Stars: 0</li>
   <% end %>


  <!-- NYTimes three stars and four stars -->
   <% if @nyt[@restaurant_name_pre_gsub] %>

       <li>New York Times Stars: <%=@nyt[@restaurant_name_pre_gsub]%></li>

       <% @nyt[@restaurant_name_pre_gsub].times do %>

       <i class="fa fa-star"></i>
       <% end %>
   <% else %>

       <li><% %>The New York Times has either not reviewed this restaurant or it has zero stars.</li>
   <% end %>

</ul>

</div><!-- ratings container -->

  <% if Restaurant.find_by_name(@restaurant_hash["businesses"][0]["name"]) == nil %>
   <h2>Add to favorite restaurants?</h2>
   <form action='/restaurants/create/' method="POST">
   
   <input type="text" name="new_restaurant" value="<%= @restaurant_hash["businesses"][0]["name"] %>">
   <input type="text" name="new_rating" placeholder="On a scale of 0 to 10">
   <input type="text" name="new_chef" placeholder="Chef Name"><
  <button>Create</button> 

  <% else %>
  <h2>This restaurant is in your favorites</h2>
<% end %>


  
 
</div><!-- search page container -->

