
<div class="nav_bar">
  <a href="/">FOODIEANA JONES</a>



  <div class="search_bar">
  <form action="/restaurants/search" method="get">
  <input type="text" name="name" placeholder="Restaurant Search">
    <button type="submit">go</button>
  </form>
  </div> <!-- SEARCH BAR -->

     <div class="links_bar">
    
      <a href="/restaurants/favorites">Favorite Restaurants</a>
      <a href="/restaurants/guide">Ratings Guide</a>


  </div><!-- links bar -->
</div> <!-- NAV BAR -->

  <div class="devise_nav">

  <%if current_user %>
    Signed in as <%= current_user.email %>.  Not you?
    <%= link_to "Sign out", destroy_user_session_path, method: "delete" %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %>
   <% end %>

  </div> <!-- devise nav -->

<div class="main_show2_page">

<h1><%= @restaurant_hash["businesses"][0]["name"]%></h1>
<h3>Cuisine type: <%= @restaurant_hash['businesses'][0]["categories"][0]["category_filter"].capitalize%></h3>

<h3>Chef: <%= @restaurant.chef.name %></h3>

<div class="rating_show2"> 

<div class="show2_total_rating">
<!-- Total Average -->
<% if @michelin_rating == nil && @nyt_rating == nil %>
<% @total_rating = @yelp_rating %> 
 <% @total_rating = @total_rating.to_i %>
<h2>Total Rating: <%= @total_rating %></h2>



<% elsif @michelin_rating != nil && @nyt_rating == nil %>
<% @total_rating = (@yelp_rating + (Restaurant.find_by_name(@restaurant_hash["businesses"][0]["name"]).rating*10) + @michelin_rating) / 3 %> 
 <% @total_rating = @total_rating.to_i %>
<h2>Total Rating: <%= @total_rating %></h2>

<% elsif @michelin_rating == nil && @nyt_rating != nil %>
<% @total_rating = (@yelp_rating + (Restaurant.find_by_name(@restaurant_hash["businesses"][0]["name"]).rating*10) + @nyt_rating) / 3 %> 
 <% @total_rating = @total_rating.to_i %>
<h2>Total Rating: <%= @total_rating %></h2>

<% elsif @michelin_rating != nil && @nyt_rating != nil %>
<% @total_rating = (@yelp_rating + (Restaurant.find_by_name(@restaurant_hash["businesses"][0]["name"]).rating*10) + @michelin_rating + @nyt_rating) / 4 %> 
 <% @total_rating = @total_rating.to_i %>
<h2>Total Rating: <%= @total_rating %></h2>

<% end %>

</div><!--total rating -->
<ul>

        <!-- YELP -->
    <div class="yelp_rating_show2"> 
    <h5>Yelp user average rating: <%= @restaurant_hash["businesses"][0]["avg_rating"] %></h5>
    <li><img src="<%= @restaurant_hash["businesses"][0]['rating_img_url']%>"/></li>
    </div>

   <!-- Michelin Guide NYC 2014 -->
   <div class="michelin_rating_show2">
   <% if @michelin[@restaurant_name_pre_gsub] %>

       <h5>Michelin Stars: <%=@michelin[@restaurant_name_pre_gsub]%></h5>

       <% @michelin[@restaurant_name_pre_gsub].times do %>
       <img width=35px height=35px src="/michelin_star.jpeg">
       <% end %>
   <% else %>

       <h5><% %>Michelin Stars: 0</h5>
       <br>
   <% end %>
   </div>

 
  <!-- NYTimes three stars and four stars -->
  <div class="nyt_rating_show2">
   <% if @nyt[@restaurant_name_pre_gsub] %>

       <h5>New York Times Stars: <%=@nyt[@restaurant_name_pre_gsub]%></h5>

       <% @nyt[@restaurant_name_pre_gsub].times do %>

       <i class="fa fa-star"></i>
       <% end %>
   <% else %>

       <li><% %>The New York Times has either not reviewed this restaurant or it has zero stars.</li>
   <% end %>

</ul>
    </div>

    <div class="user_rating_show2">
<% if Restaurant.find_by_name(@restaurant_hash["businesses"][0]["name"]).rating %>

<h5>Your rating is:</h5><br> 
<h5><%= Restaurant.find_by_name(@restaurant_hash["businesses"][0]["name"]).rating %> out of 10</h5>
<br>
<h6>Change your rating?</h6>
<h6>On a scale of 0 to 10 (10 is perfect, 0 is terrible)</h6>
<form action="/restaurants/ratings" method="POST">
<input type="hidden" name="user_id" value="<%= Restaurant.find_by_name(@restaurant_hash["businesses"][0]["name"]).id %>">
<input type="text" name="user_rating">
<input type="submit" value="submit">
</form>

<% else %>

<h3>What is your rating?</h3>
<h5>On a scale of 0 to 10 (10 is perfect, 0 is terrible)</h5>
<form action="/restaurants/ratings/" method="POST">
<input type="text" name="user_rating">
<input type="submit" value="submit">
</form>

<% end %>
</div><!-- user rating show2
</div><!-- rating show-->

<!-- select tag route-->
<!-- <select>
  <option value="10">10 Perfect</option>
  <option value="9">9</option>
  <option value="8">8</option>
  <option value="7">7</option>
  <option value="6">6</option>
  <option value="5">5 Okay</option>
  <option value="4">4</option>
  <option value="3">3</option>
  <option value="2">2</option>
  <option value="1">1</option>
  <option value="0">0 Fucking terrible</option>
</select>
 -->

<!-- radio button rating route -->
<!-- form>
<input type="radio" name="user_rating" value="10">10 Perfect
<input type="radio" name="user_rating" value="9">9
<input type="radio" name="user_rating" value="8">8
<input type="radio" name="user_rating" value="7">7
<input type="radio" name="user_rating" value="6">6
<input type="radio" name="user_rating" value="5">5 Okay
<input type="radio" name="user_rating" value="4">4
<input type="radio" name="user_rating" value="3">3
<input type="radio" name="user_rating" value="2">2
<input type="radio" name="user_rating" value="1">1
<input type="radio" name="user_rating" value="0">0 Fucking terrible
</form> -->
<div class="dishes_show2">

<% if @restaurant.dishes.name == nil %> 
<h3>Add Dish to restaurant</h3>
   <form action='/restaurants/createdish/' method="POST">
   <br>
   <input type="text" name="new_dish" placeholder="New dish name"><br>
   <input type="hidden" name="new_restaurant_id" value="<%= @restaurant.id%>">  <br>
  <button>Create</button> 
  </form>
<% else %>
  
  <h3>Favorite Dish(es)</h3>
  <% @restaurant.dishes.each do |dish|%>
  <a><%= dish.name %></a><a class="deletedish" href="/restaurants/deletedish/<%= dish.id %>">     delete</a><br>
  <% end %>
<% end %>

<h3>Add a dish</h3>
   <form action='/restaurants/createdish/' method="POST">
   <br>
   <input type="text" name="new_dish" placeholder="New dish name"><br>
   <input type="hidden" name="new_restaurant_id" value="<%= @restaurant.id%>">  <br>
  <button>Create</button> 
  </form>
</div><!-- dishes show -->


</div><!-- main show page -->